/*GENERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}

/*MAIN*/
.main-container{
  height: 100vh;
  background: linear-gradient(to bottom, #009688, #009688 20%, #DADBD3 20%);
}

/*CONTAINER*/
.container{
  background-color: #EAEAEA;
  width: 80%;
  max-width: 1200px;
  height: calc(100% - 40px);
  margin: 0 auto;
}
.row{
  display: flex;
  width: 100%;
  height: 100%;
}
.col-4{
  width: calc(100% / 12 * 4);
  height: 100%;
  border-right: 1px solid #D6D6D6;
}
.col-8{
  width: calc(100% / 12 * 8);
  height: 100%;
}
.user{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.user-image{
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.user-image img{
  width: 40px;
  border-radius: 50%;
}
.user-image span{
  padding-left: 10px;
  font-size: 14px;
}
.icon i{
  font-size: 20px;
  color: #B1B1B1;
  padding-right: 20px;
}
.notifications{
  display: flex;
  align-items: center;
  height: 70px;
  background-color: #8EDAFC;
}
.bell{
  background-color: white;
  font-size: 20px;
  padding: 10px 8px;
  border-radius: 50%;
  margin: 0 10px 0 20px;
  color: #8EDAFC;
}
.text-notifications{
  font-size: 12px;
}
.text-notifications p:last-child{
  text-decoration: underline;
  opacity: 0.5;
  cursor: pointer;
}
.search-contact{
  display: flex;
  align-items: center;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(192, 192, 192);
  margin: 5px;
  color: #AFB2B5;
  overflow: hidden;
}
.search{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  border-right: 1px solid rgb(192, 192, 192);
}
.search-contact input{
  height: 100%;
  width: 100%;
  padding: 0 10px;
  border: none;
}
.thumbs{
  height: calc(100% - 170px);
  overflow-y: scroll;
}
.thumb{
  display: flex;
  align-items: center;
  height:60px;
  background-color: white;
  cursor: pointer;
  border: 1px solid #F9F9F9;
}
.active{
  background-color: #E9EBEB;
}
.thumb img{
  width: 50px;
  margin: 0 10px;
  border-radius: 50%;
}
.container-chat{
  background-image: url(../img/mine.jpg);
  height: calc(100% - 110px);
  overflow-y: scroll;
  padding: 40px;
}
.message{
  display: flex;
}
.message-text{
  padding: 10px;
  min-width: 150px;
  border-radius: 10px;
  font-size: 12px;
}
.message.dir-sent{
  flex-direction: row-reverse;
}
.message-text.sent{
  top: 0;
  right: 0;
  background-color: #D5F9BA;
}
.message-text.received{
  top: 0;
  left: 0;
  background-color: white;
}

.write-message{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: #F3EEEA;
}
.write-message input{
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border:none;
  padding: 0 10px;
}
.write-message i{
  font-size: 20px;
  color: #6B7376;
}